.idea
.DS_Store
pretrained_models/
shape_predictor_68_face_landmarks.dat
*.pyc
*.pyo
__pycache__/
*.egg-info/
*.log
*.db
*.sqlite3
*.pkl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage.xml
*.coverage
*.coveragerc
htmlcov/
dist/  